name: CI

on:
  push:
    branches: [ dev ]
  pull_request:
    branches: [ dev ]

jobs:

  # Job 1: Build, test, and package
  build:
    runs-on: ubuntu-latest

    steps:
      # Download repo
      - uses: actions/checkout@v4

      # Install Java
      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'
          cache: maven

      # Build + Test + Package
      # verify already creates the JAR
      - name: Build and test
        run: mvn -B clean verify

      # Upload the tested JAR
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: app-jar
          path: target/*.jar


  # Job 2: Reuse the built artifact
  package:
    runs-on: ubuntu-latest
    needs: build

    steps:
      # Download artifact from previous job
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: app-jar

      # Show that the file exists
      - name: List files
        run: ls -R
        
      - name: Run application
        run: java -jar *.jar