name: CI

on:
  push:
    branches: [ dev ]
  pull_request:
    branches: [ dev ]

jobs:

  # Job 1: Build, test and package
  build:
    runs-on: ubuntu-latest

    steps:
      # Checkout source code
      - uses: actions/checkout@v4

      # Install Java
      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'
          cache: maven

      # Build project and run tests
      - name: Build and test
        run: mvn -B clean verify

      # Upload generated JAR
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: app-jar
          path: target/*.jar


  # Job 2: Run the application (smoke test)
  run-app:
    needs: build
    runs-on: ubuntu-latest

    steps:
      # Download JAR from previous job
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: app-jar

      # Show downloaded files
      - name: List files
        run: ls

      # Run the application
      - name: Run application
        run: java -jar *.jar


  # Job 3: Build Docker image
  docker:
    needs: build
    runs-on: ubuntu-latest

    steps:
      # Checkout repo (needed for Dockerfile)
      - uses: actions/checkout@v4

      # Download the built JAR
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: app-jar
          path: target

      # Build Docker image
      - name: Build Docker image
        run: docker build -t java-demo .

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/java-demo:latest .

      - name: Push Docker image
        run: docker push ${{ secrets.DOCKER_USERNAME }}/java-demo:latest